## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df= application_df.drop(columns = ['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
appTypeCounts= application_df['APPLICATION_TYPE'].value_counts()
appTypeCounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=list(appTypeCounts[appTypeCounts< 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classCounts=application_df['CLASSIFICATION'].value_counts()
classCounts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1900        1
C2380        1
C2150        1
C2190        1
C1570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classCounts[classCounts> 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C0           3
C2710        3
C1260        3
C1246        2
C1234        2
C1256        2
C1267        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(classCounts[classCounts<1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
appCategorical=application_df.dtypes[application_df.dtypes=='object'].index.tolist()
appCategorical

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [12]:
X=application_df

In [13]:
application_df=pd.get_dummies(X)

In [14]:
# Split our preprocessed data into our features and target arrays
y=application_df["IS_SUCCESSFUL"].values
X= application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=78)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features=len(X_train[0])
hidden_nodes_layer1= 82
hidden_nodes_layer2= 64

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,input_dim=number_input_features,activation="tanh")
      )

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 82)                3608

 dense_22 (Dense)            (None, 64)                5312

 dense_23 (Dense)            (None, 1)                 65

=================================================================
Total params: 8,985
Trainable params: 8,985
Non-trainable params: 0
_________________________________________________________________

## Compile, Train and Evaluate the Model

In [38]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

In [39]:
# Train the model
fit_model=nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5726 - accuracy: 0.7217
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7296
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7290
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7316
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7315
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7323
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7328
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7335
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7323
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7322
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7345
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7358
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7358
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7346
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7365
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7371
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7365
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7358
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7381
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7380
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7386
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7371
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7377
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7388
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7388
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7385
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7386
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7386
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7383
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7393
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7402
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7394
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7389
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7397
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7390
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7395
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7402
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7401
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7401
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7413
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7396
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7396
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7394
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7408
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7401
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7403
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7393
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7414

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5530 - accuracy: 0.7250 - 292ms/epoch - 1ms/step
Loss: 0.5530239343643188, Accuracy: 0.7250145673751831

In [41]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')